body {
    background-image: url("planner.jpg");
    font-family: Verdana, Arial, sans-serif;
    font-style: inherit;
    text-align: left;
    color: black;
    text-emphasis-color: black;
}

.container {
    margin: 0 auto;
    text-align: center;

}

.header {
    margin-top: 50px;
}

.controls {
    margin-top: 40px;
}

